In [3]:
import pandas as pd

In [4]:
jeopardy_data = pd.read_csv("jeopardy.csv")

In [11]:
print(jeopardy_data.columns)

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [9]:
# Renaming misformatted columns
jeopardy_data = jeopardy_data.rename(columns = {" Air Date": "Air Date", " Round" : "Round", " Category": "Category", " Value": "Value", " Question":"Question", " Answer": "Answer"})
#print(jeopardy_data.columns)
#print(jeopardy_data["Question"])

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')
0         For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1         No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2         The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4         Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States
                                                            ...
216925    This Puccini opera turns on the solution to 3 riddles posed by the heroine
216926    In North America this term is properly applied to only 4 species that are crested, including the tufted
216927    In Penny Lane, where this "Hellraiser" grew up, the barber shaves another customer--then flays him alive!
216928    From Ft. Sill, Okla. he made the plea, Arizona is my land, my home, my father's land, to which I now ask to... return"
216929    A silent movie title includes the last name of this 18th c. statesman & favorite of Catherine the Great
Name: Question, Length: 216930, dtype: object

In [10]:
# Filtering a dataset by a list of words
def filter_data(data, words):
  # Lowercases all words in the list of words as well as the questions. Returns true is all of the words in the list appear in the question.
  filter = lambda x: all(word.lower() in x.lower() for word in words)
  # Applies the labmda function to the Question column and returns the rows where the function returned True
  return data.loc[data["Question"].apply(filter)]

In [12]:
# Testing the filter function
filtered = filter_data(jeopardy_data, ["King", "England"])
print(filtered["Question"])

4953      Both England's King George V & FDR put their stamp of approval on this "King of Hobbies"
6337      In retaliation for Viking raids, this "Unready" king of England attacks Norse areas of the Isle of Man
9191      This king of England beat the odds to trounce the French in the 1415 Battle of Agincourt
11710     This Scotsman, the first Stuart king of England, was called "The Wisest Fool in Christendom"
13454     It's the number that followed the last king of England named William
                                          ...
208295    In 1066 this great-great grandson of Rollo made what some call the last Viking invasion of England
208742    Dutch-born king who ruled England jointly with Mary II & is a tasty New Zealand fish
213870    In 1781 William Herschel discovered Uranus & initially named it after this king of England
216021    His nickname was "Bertie", but he used this name & number when he became king of England in 1901
216789    This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric
Name: Question, Length: 152, dtype: object

In [13]:
# Adding a new column. If the value of the float column is not "None", then we cut off the first character (which is a dollar sign), and replace all commas with nothing, and then cast that value to a float. If the answer was "None", then we just enter a 0.
jeopardy_data["Float Value"] = jeopardy_data["Value"].apply(lambda x: float(x[1:].replace(',','')) if x != "None" else 0)

In [14]:
# Filtering the dataset and finding the average value of those questions
filtered = filter_data(jeopardy_data, ["King"])
print(filtered["Float Value"].mean())

771.8833850722094

In [15]:
# A function to find the unique answers of a set of data
def get_answer_counts(data):
    return data["Answer"].value_counts()

In [16]:
# Testing the answer count function
print(get_answer_counts(filtered))

Henry VIII                   55
Solomon                      35
Richard III                  33
Louis XIV                    31
David                        30
                             ..
cardiac (in card I acted)    1
Henderson                    1
Computer                     1
Indians                      1
work                         1
Name: Answer, Length: 5268, dtype: int64